!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link th:replace="~{fragments :: head}">
	</link>
	<title>Nuova Offerta</title>
</head>

<body>
	<div class="container">
		<h2>Creazione Offerta per la pizza [[${offerta.pizza.nome}]]</h2>
		<form id="formOfferta" th:object=${offerta} th:action="@{/offerte/create}" method="POST">

			<input type="hidden" th:field="${offerta.pizza}">

			<div class="input-group input-group-lg mt-2 ">
				<label class="input-group-text" id="inputGroup-sizing-lg" for="inizioOfferta">Inizio Offerta:</label>
				<input type="date" id="inizioOfferta" th:field="*{inizioOfferta}" class="form-control"
					th:errorClass="is-invalid">

				<div th:if="${#fields.hasErrors('inizioOfferta')}" class="invalid-feedback">
					<ul>
						<li th:each="err: ${#fields.errors('inizioOfferta')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>
			<div class="input-group input-group-lg mt-2 ">
				<label class="input-group-text" id="inputGroup-sizing-lg" for="fineOfferta">Fine Offerta:</label> <input
					type="date" id="fineOfferta" th:field="*{fineOfferta}" class="form-control"
					th:errorClass="is-invalid">

				<div th:if="${#fields.hasErrors('fineOfferta')}" class="invalid-feedback">
					<ul>
						<li th:each="err: ${#fields.errors('fineOfferta')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>
			<div class="input-group input-group-lg mt-2 ">
				<label class="input-group-text" id="inputGroup-sizing-lg" for="titolo">Titolo Offerta:</label> <input
					type="text" id="titolo" th:field="*{titolo}" class="form-control" th:errorClass="is-invalid">

				<div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
					<ul>
						<li th:each="err: ${#fields.errors('titolo')}" th:text="${err}">
						</li>
					</ul>
				</div>

			</div>
			<div class="mt-2">
				<button class="btn btn-success" type="submit">Crea Offerta!</button>
				<a class="btn btn-warning" th:href="@{/pizze}"> Annulla</a>
			</div>
		</form>




	</div>

</body>

</html>